# Neccessary Libraries Imported

In [1]:
import matplotlib.pyplot as plt
import cv2 as cv
import numpy as np
import pandas as pd
import os

# read image and reshape using opencv

In [2]:
def image_read(image):
    image = cv.imread(image,0)
    return image
def image_reshape(image):
    image = cv.resize(image,(28,28))
    return image

# Create a dataframe of images with 784 features using pandas

In [3]:
def create_dataframe(path):
    data = []
    for root, dirs, files in os.walk(path):
        if files:
            for file in files:
                image = image_reshape(image_read(os.path.join(root, file))).reshape(784)
                image = np.append(image, root.split("\\")[-1])
                data.append(image)
        df = pd.concat([pd.DataFrame(data)])
    return df

In [4]:
path = 'train_set'
df = create_dataframe(path)

In [5]:
def shuffle_df(df):
    df = df.sample(frac = 1)
    return df

In [6]:
shuffle_df(df)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
37,225,222,222,222,222,221,223,220,219,227,...,98,86,12,12,24,33,135,165,177,Liya
21,121,102,88,114,139,147,146,149,142,63,...,73,133,62,191,247,248,248,244,241,Hachalu
9,125,120,115,113,120,126,124,123,125,130,...,76,120,30,38,22,33,23,21,30,Adanech
0,208,206,210,209,209,209,217,220,214,212,...,82,106,211,44,32,96,216,216,215,Abiy
63,198,199,198,196,194,192,191,183,185,185,...,117,151,192,56,49,56,55,57,69,Teddy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,158,157,155,154,151,150,148,145,27,9,...,185,186,187,189,190,192,192,194,194,Liya
40,220,174,145,187,214,213,166,161,192,187,...,159,193,184,208,33,86,39,171,166,Sahlework
22,217,79,198,149,175,76,50,103,52,74,...,80,105,120,118,117,93,122,243,203,Hachalu
39,70,70,70,70,70,70,70,72,123,138,...,156,144,21,175,213,70,70,70,70,Sahlework
24,216,216,216,216,217,211,210,211,211,213,...,8,7,4,7,10,8,10,14,13,Hachalu

In [7]:
# save the images csv file to use it any where without the need to having the real images
df.to_csv('faces_dataset.csv',index=False)